/build
/dist/
/AccountManagement/build/
/AccountManagement/dist/
/AccountManagement/nbproject/private/
/AudioProject/build/
/AudioProject/dist/
/AudioProject/nbproject/private/
/FrameTutorial/build/
/FrameTutorial/dist/
/FrameTutorial/nbproject/private/
/HomeWork2/nbproject/private/
/HomeWorkAssignment1/build/
/HomeWorkAssignment1/dist/
/HomeWorkAssignment1/nbproject/private/
/Lab1/JavaSwingLab1/build/
/Lab1/JavaSwingLab1/dist/
/Lab1/JavaSwingLab1/nbproject/private/
/Lab2/build/
/Lab2/dist/
/Lab2/nbproject/private/
/Lab3/build/
/Lab3/dist/
/Lab3/nbproject/private/
/Lab_4/build/
/Lab_4/nbproject/private/
/Lab_5/build/
/Lab_5/nbproject/private/
/Lab_6/build/
/Lab_6/nbproject/private/
